<footer class="site-footer">
  <div class="footer-main text-center pt-4 pb-2">
    <div class="d-flex justify-content-center">
      <div>
        {%- include socials.html -%}
        <div class="pt-3">
          <h6>
            © {{ 'now' | date: "%Y" }} │ {{ site.title }}
          </h6>
          <h6 class="pt-2">
            Web page credits to my younger brother <a href="https://www.linkedin.com/in/amitvishw/">Amit Vishwakarma</a> (SWE). 
            <br> I will take the credit of teaching him programming in just one sitting :D 
          </h6>
        </div>
      </div>
    </div>
  </div>
</footer>
