<footer class="site-footer">
  <div class="footer-main text-center pt-4 pb-2">
    <div class="d-flex justify-content-center">
      <div>
        <div class="d-flex">
          {% for social in site.data.socials %}
          <a href="{{ social.profileUrl }}" target="_blank">
            <div class="d-flex align-items-center">
              <div class="pe-1">
                <img width="20px" height="20px" src="{{ social.icon | relative_url}}" alt="{{ social.website }}" />
              </div>
              <div class="pe-3">{{ social.website }}</div>
            </div>
          </a>
          {% endfor %}
        </div>
        <div class="pt-3">
          <h6>
            © {{ 'now' | date: "%Y" }} │ {{ site.title }}
          </h6>
        </div>
      </div>
    </div>
  </div>
</footer>