---
layout: default
---
<div>
  <div class="pt-3">
    <div class="row align-items-center">
      <div class="col-sm-12 col-lg-auto text-center">
        {% assign imageUrl = "assets/images/profile-image.jpg" %}
        <img class="img-fluid avatar" src="{{ imageUrl | relative_url }}" alt="{{ site.title }}" />
      </div>

      <div class="col-auto">
        <h2>{{ site.title }}</h2>
        <h6 class="fst-italic">{{ site.description }}</h6>
        <h6 class="fst-italic text-muted">
          <a href="mailto:{{ site.email }}">
            <span>
              {%- include icons/email-icon.html -%}
            </span>
            <span> {{ site.email }} </span>
          </a>
        </h6>
        <h6 class="fst-italic text-muted">
          <span>
            {%- include icons/location-icon.html -%}
          </span>
          <span>Madison, WI</span>
        </h6>
        {%- include socials.html -%}
      </div>
    </div>
  </div>

  <div class="pt-3">
    <h3 class="text-capitalize">About Me</h3>
    <div class="pt-2">
      <div class="indent">
        <p class="fs-5">
          Hi there, I am a Computer Science PhD student at the

          <a href="https://www.cs.wisc.edu/" target="_blank"><span class="highlight">University of Wisconsin-Madison</span></a>. I am grateful to have

          <a href="https://pages.cs.wisc.edu/~fredsala/" target="_blank">
            <span class="highlight">prof. Frederic Sala</span>
          </a>
          and
          <a href="https://ramyakv.github.io/" target="_blank">
            <span class="highlight"> prof. Ramya K. Vinayak</span>
          </a>

          as my advisors.
          My research interests are in machine learning theory, particularly in settings where
          labeled data are scarce and noisy. Before coming to Madison I worked at
          <a href="https://research.ibm.com/labs/india/" target="_blank"><span class="highlight">IBM Research India</span></a>,
           and spent two wonderful years at
          <a href="https://iisc.ac.in/" target="_blank">
            <span class="highlight">IISc Bangalore</span>
          </a>

          to obtain my masters in CS.
        </p>
      </div>
    </div>
  </div>

  <div class="pt-3">
    <h3 class="text-capitalize">Research Interests</h3>
    <div class="pt-2">
      <div class="indent">
        <h5>— Weak Supervision, Active Learning, Auto Labeling.</h5>
        <h5>— non-Euclidean ML.</h5>
        <h5>— Understanding deep learning.</h5>
        <h5>— Meaning of life :)</h5>
      </div>
    </div>
  </div>

  <div class="pt-3">
    <h3 class="text-capitalize">Publications</h3>
    <div class="pt-2">
      <div class="indent indent-border action">
        <a href="https://arxiv.org/abs/2211.13375" target="_blank">
          <h5 class="text-capitalize">Lifting Weak Supervision to Structured Prediction</h5>
          <h6>
            Harit Vishwakarma, Nicholas Roberts, Frederic Sala
          </h6>
          <h6 class="text-muted">— Neural Information Processing Systems (NeurIPS), 2022</h6>
        </a>
      </div>
    </div>
    <div class="pt-2">
      <div class="indent indent-border action">
        <a href="https://arxiv.org/abs/2211.12620" target="_blank">
          <h5 class="text-capitalize">Good Data from Bad Models : Foundations of Threshold-based Auto-labeling</h5>
          <h6>
            Harit Vishwakarma, Heguang Lin, Frederic Sala, Ramya K. Vinayak
          </h6>
          <h6 class="text-muted">— Preprint, 2022</h6>
        </a>
      </div>
    </div>
    <div class="pt-2">
      <div class="indent indent-border action">
        <a href="https://ramyakv.github.io/Adaptive-OOD-Detection-Human-in-the-loop.pdf" target="_blank">
          <h5 class="text-capitalize">Adaptive Out-of-Distribution Detection with Human-in-the-Loop</h5>
          <h6>
            Harit Vishwakarma, Heguang Lin, Ramya K. Vinayak 
          </h6>
          <h6 class="text-muted">— ICML Workshop on Human Machine Collaboration and Teaming, 2022</h6>
        </a>
      </div>
    </div>

    <div class="pt-2">
      <div class="indent indent-border action">
        <a href="https://arxiv.org/pdf/2112.03865.pdf" target="_blank">
          <h5 class="text-capitalize">Universalizing weak supervision</h5>
          <h6>
            Changho Shin, Winfred Li, Harit Vishwakarma, Nicholas Roberts, Frederic Sala 
          </h6>
          <h6 class="text-muted">— International Conference on Learning Representations (ICLR), 2022</h6>
        </a>
      </div>
    </div>

    <div class="pt-2">
      <div class="indent indent-border action">
        <a href="https://proceedings.neurips.cc/paper/2020/file/1b742ae215adf18b75449c6e272fd92d-Paper.pdf" target="_blank">
          <h5 class="text-capitalize">Optimal lottery tickets via subsetsum: Logarithmic over-parameterization is sufficient</h5>
          <h6>
            Ankit Pensia, Shashank Rajput, Alliot Nagle, Harit Vishwakarma, Dimitris Papailiopoulos
          </h6>
          <h6 class="text-muted">— Neural Information Processing Systems (NeurIPS), 2020 ( Spotlight )</h6>
        </a>
      </div>
    </div>

    <div class="pt-2">
      <div class="indent indent-border action">
        <a href="https://proceedings.neurips.cc/paper/2020/file/b8ffa41d4e492f0fad2f13e29e1762eb-Paper.pdf" target="_blank">
          <h5 class="text-capitalize">Attack of the tails: Yes, you really can backdoor federated learning</h5>
          <h6>
            H. Wang, K. Sreenivasan, S. Rajput, H. Vishwakarma, S. Agarwal, J. Sohn, K. Lee, D. Papailiopoulos 
          </h6>
          <h6 class="text-muted">— Neural Information Processing Systems (NeurIPS), 2020</h6>
        </a>
      </div>
    </div>

    <div class="pt-2">
      <div class="indent indent-border action">
        <a href="https://proceedings.neurips.cc/paper/2019/file/cb12d7f933e7d102c52231bf62b8a678-Paper.pdf" target="_blank">
          <h5 class="text-capitalize">Quantum embedding of knowledge for reasoning</h5>
          <h6>
            D. Garg, S. Ikbal, S. K Srivastava, H. Vishwakarma, H. Karnam, L. V. Subramaniam
          </h6>
          <h6 class="text-muted">— Neural Information Processing Systems (NeurIPS), 2019</h6>
        </a>
      </div>
    </div>

    <div class="pt-2">
      <div class="indent indent-border action">
        <a href="https://dl.acm.org/doi/abs/10.1145/3209542.3209548" target="_blank">
          <h5 class="text-capitalize">Know Thy Neighbors, and More! Studying the Role of Context in Entity Recommendation</h5>
          <h6>
            Sumit Bhatia, Harit Vishwakarma 
          </h6>
          <h6 class="text-muted">— ACM Conference on HyperText and Social Media (HT), 2018 ( Best Paper Nominee )</h6>
        </a>
      </div>
    </div>

    <div class="pt-2">
      <div class="indent indent-border action">
        <a href="#" target="_blank">
          <h5 class="text-capitalize">Discovering Granger causality in the presence of correlated event streams</h5>
          <h6>
            Harit Vishwakarma, Raman Sankaran, Chiranjib Bhattacharyya  
          </h6>
          <h6 class="text-muted">— Manuscript, 2017</h6>
        </a>
      </div>
    </div>

    
  </div>

  <div class="pt-3">
    <h3 class="text-capitalize">Fun Factcetera</h3>
    <div class="pt-2">
      <div class="indent">
        <p>
          — I love playing badminton, racquetball and board games.
        </p>
      </div>
    </div>
  </div>
</div>
