---
layout: default
---
<div>
  <div class="pt-3">
    <div class="row align-items-center">
      <div class="col-sm-12 col-lg-auto text-center">
        {% assign imageUrl = "assets/images/profile-image.jpg" %}
        <img class="img-fluid avatar" src="{{ imageUrl | relative_url }}" alt="{{ site.title }}" />
      </div>

      <div class="col-auto">
        <h2>{{ site.title }}</h2>
        <h6 class="fst-italic">{{ site.description }}</h6>
        <h6 class="fst-italic text-muted">
          <a href="mailto:{{ site.email }}">
            <span>
              {%- include icons/email.html -%}
            </span>
            <span> {{ site.email }} </span>
          </a>
        </h6>
        <h6 class="fst-italic text-muted">
          <span>
            {%- include icons/location.html -%}
          </span>
          <span>Madison, WI</span>
        </h6>
        {%- include socials.html -%}
      </div>
    </div>
  </div>

  <div class="pt-3">
    <h5 class="text-capitalize">About Me</h5>
    <div class="pt-2">
      
        <p class="fs-6">
           I am a Computer Science PhD student at the

          <a href="https://www.cs.wisc.edu/" target="_blank"><span class="highlight">University of Wisconsin-Madison</span></a>. I am grateful to have
          prof.
          <a href="https://pages.cs.wisc.edu/~fredsala/" target="_blank">
            <span class="highlight">Frederic Sala</span>
          </a>
          and  prof.
          <a href="https://ramyakv.github.io/" target="_blank">
            <span class="highlight"> Ramya K. Vinayak</span>
          </a>

          as my advisors.
          I study the fundamentals of machine learning. Before coming to Madison I worked at
          <a href="https://research.ibm.com/labs/india/" target="_blank"><span class="highlight">IBM Research, India</span></a>
           and spent two wonderful years at the 
          <a href="https://iisc.ac.in/" target="_blank">
            <span class="highlight">IISc, Bangalore</span>
          </a>

          to obtain my masters in CS. In my previous life I was a software engineer at <a href ="https://www.ittiam.com/" target="_blank"><span class="highlight">Ittiam Systems, Bangalore </span></a> for a couple of years where we built a media transcoding service. 
        </p>
      
    </div>
  </div>

  <div class="pt-3">
    <h5 class="text-capitalize">Research Interests</h5>
    <div class="pt-2">
              
         I am broadly interested in understanding machine learning fundamentals and developing theoretically grounded solutions.
        
        Topics I have been working on :  weak supervision, active learning, threshold-based auto-labeling, OOD robustness and calibration.  
         
      
    </div>
  </div>

  <div> </br> Checkout my work with awesome collaborators and feel free to connect if something strikes a chord. </div>
  <div class="pt-3">
    <h5 class="text-capitalize"> Pre-prints or Under-review </h5>
    <hr>
    <div class="pt-2">
      {% for publication in site.data.preprint %}
        {% if publication.award %}
          {% capture award %} (<b>{{publication.award}}</b>){% endcapture %}
        {% else %}
          {% capture award %}{% endcapture %}
        {% endif %}
        <div class="pb-3">
          <div class="  action">
            <!--<a href="{{publication.url}}" style="font-size: 14px;"><h6 class="text-capitalize highlight">{{ publication.title }}</h6></a>-->
            <a href="{{publication.url}}" style="font-size: 17px;"><span class="highlight">{{ publication.title }}</span></a>
          </br>
                <span>{{ publication.authors }}</span> </br>
              
               <i>{{ publication.venue }}, {{ publication.date | date: "%Y" }}</i> <span style="color:rgb(18, 17, 17)">{{ award }}</span> 
              
              <div class="d-flex">
                {% if publication.venue_short %}
                <!--<div>
                  <button style="background-color: white; font-size:11px; border-radius: 5px; border-width: 1px; border-color: rgb(82, 194, 216);" disabled="true" >{{publication.venue_short}}</button>
                </div>!-->

                &nbsp;
               {%endif%}

                {% for link in publication.links %}
                  <div>
                    <a href="{{ link.url }}"  target="_blank">
                      
                        <button style="background-color: white; font-size:11px; border-radius: 5px; border-width: 1px; border-color: rgb(82, 194, 216);" > <span class="highlight">{{ link.label }}</span></button>
                        {% if forloop.last == false %}
                        &nbsp;
                        {% endif %}
                      
                    </a>
                    
                  </div>
                {% endfor %}
              </div>
          </div>
          <p style="margin:10px;"></p>
        </div>
      {% endfor %}
    </div>
  </div>


  <div class="pt-3">
    <h5 class="text-capitalize"> Conference Publications </h5>
    <hr>
    <div class="pt-2">
      {% for publication in site.data.conf_pubs %}
        {% if publication.award %}
          {% capture award %} (<b>{{publication.award}}</b>){% endcapture %}
        {% else %}
          {% capture award %}{% endcapture %}
        {% endif %}
        <div class="pb-3">
          <div class="  action">
            <!--<a href="{{publication.url}}" style="font-size: 14px;"><h6 class="text-capitalize highlight">{{ publication.title }}</h6></a>-->
            <a href="{{publication.url}}" style="font-size: 17px;"><span class="highlight">{{ publication.title }}</span></a>
          </br>
                <span>{{ publication.authors }}</span> </br>
              
               <i>{{ publication.venue }}, {{ publication.date | date: "%Y" }}</i> <span style="color:rgb(18, 17, 17)">{{ award }}</span> 
              
              <div class="d-flex">
                {% if publication.venue_short %}
                <!--<div>
                  <button style="background-color: white; font-size:11px; border-radius: 5px; border-width: 1px; border-color: rgb(82, 194, 216);" disabled="true" >{{publication.venue_short}}</button>
                </div>!-->

                &nbsp;
               {%endif%}

                {% for link in publication.links %}
                  <div>
                    <a href="{{ link.url }}"  target="_blank">
                      
                        <button style="background-color: white; font-size:11px; border-radius: 5px; border-width: 1px; border-color: rgb(82, 194, 216);" ><span class="highlight">{{ link.label }}</span></button>
                        {% if forloop.last == false %}
                        &nbsp;
                        {% endif %}
                      
                    </a>
                    
                  </div>
                {% endfor %}
              </div>
          </div>
          <p style="margin:10px;"></p>
        </div>
      {% endfor %}
    </div>
  </div>
  
  <div class="pt-3">
    <h5 class="text-capitalize"> Workshop Publications </h5>
    <hr>
    <div class="pt-2">
      {% for publication in site.data.ws_pubs %}
        {% if publication.award %}
          {% capture award %} (<b>{{publication.award}}</b>){% endcapture %}
        {% else %}
          {% capture award %}{% endcapture %}
        {% endif %}
        <div class="pb-3">
          <div class="  action">
            <!--<a href="{{publication.url}}" style="font-size: 14px;"><h6 class="text-capitalize highlight">{{ publication.title }}</h6></a>-->
            <a href="{{publication.url}}" style="font-size: 17px;"><span class="highlight">{{ publication.title }}</span></a>
          </br>
                <span>{{ publication.authors }}</span> </br>
              
               <i>{{ publication.venue }}, {{ publication.date | date: "%Y" }}</i> <span style="color:rgb(18, 17, 17)">{{ award }}</span> 
              
              <div class="d-flex">
                {% if publication.venue_short %}
                <!--<div>
                  <button style="background-color: white; font-size:11px; border-radius: 5px; border-width: 1px; border-color: rgb(82, 194, 216);" disabled="true" >{{publication.venue_short}}</button>
                </div>!-->

                &nbsp;
               {%endif%}

                {% for link in publication.links %}
                  <div>
                    <a href="{{ link.url }}"  target="_blank">
                      
                        <button style="background-color: white; font-size:11px; border-radius: 5px; border-width: 1px; border-color: rgb(82, 194, 216);" ><span class="highlight">{{ link.label }}</span></button>
                        {% if forloop.last == false %}
                        &nbsp;
                        {% endif %}
                      
                    </a>
                    
                  </div>
                {% endfor %}
              </div>
          </div>
          <p style="margin:10px;"></p>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="pt-3">
    <h5 class="text-capitalize">Service</h5>
    <hr>
    <div class="pt-2">
      
        <p>
           Served as a reviewer for, 
           <ul>
  <li> Neural Information Processing Systems (NeurIPS) </br>
    2021, 2022, 2023.</br>
    <b>Top Reviewer (~ top 8%)</b> for NeurIPS 2022.
  </li>
  <p style="margin:10px;"></p>
  <li>International Conference on Machine Learning (ICML) </br>
     2022, 2023
    </li>
    <p style="margin:10px;"></p>
  <li>International Conference on Learning Representations (ICLR) </br>
    2021, 2022, 2023, 2024
  </li>
  <p style="margin:10px;"></p>
  <li> International Conference on Artificial Intelligence and Statistics (AISTATS)
     </br>  2024
  </li>
  <p style="margin:10px;"></p>
  <li>   Transactions on Machine Learning Research Journal (TMLR) 
    Since 2022.
  </br>
  <p style="margin:10px;"></p>
  </li>
</ul>     
    </div>
  </div>

  <div class="pt-3">
    <h5 class="text-capitalize">Miscellaneous</h5>
    <hr>
    <div class="pt-2">
      
      <ul>
  <li> I am always up for sports or any athletic activity. I enjoy playing badminton, racquetball and biking around in Madison. 
    I grew up playing and following cricket like any other kid in India. 
  </li>

  <p style="margin:10px;"></p>

  <li>  
    I like philosophy and one of my life goals is to master various schools of <a href="https://en.wikipedia.org/wiki/Indian_philosophy" > Indian Philosophy</a>.
    Check out this fun story of  <a href ="https://en.wikipedia.org/wiki/Dandamis">  Alexander and Dandamis.</a> 
    
  </li>
    </div>
  </div>
  
</div>
