---
layout: default
---
<div>
  <div class="pt-3">
    <div class="row align-items-center">
      <div class="col-sm-12 col-lg-auto text-center">
        {% assign imageUrl = "assets/images/profile-image.jpg" %}
        <img class="img-fluid avatar" src="{{ imageUrl | relative_url }}" alt="{{ site.title }}" />
      </div>

      <div class="col-auto">
        <h2>{{ site.title }}</h2>
        <h6 class="fst-italic">{{ site.description }}</h6>
        <h6 class="fst-italic text-muted">
          <a href="mailto:{{ site.email }}">
            <span>
              {%- include icons/email.html -%}
            </span>
            <span> {{ site.email }} </span>
          </a>
        </h6>
        <h6 class="fst-italic text-muted">
          <span>
            {%- include icons/location.html -%}
          </span>
          <span>Madison, WI</span>
        </h6>
        {%- include socials.html -%}
      </div>
    </div>
  </div>

  <div class="pt-3">
    <h5 class="text-capitalize">About Me</h5>
    <div class="pt-2">
      
        <p class="fs-6">
           I am a Computer Science PhD student at the

          <a href="https://www.cs.wisc.edu/" target="_blank"><span class="highlight">University of Wisconsin-Madison</span></a>. I am grateful to have
         
          <a href="https://pages.cs.wisc.edu/~fredsala/" target="_blank">
            <span class="highlight">  Prof. Frederic Sala</span>
          </a>
          and  
          <a href="https://ramyakv.github.io/" target="_blank">
            <span class="highlight">Prof. Ramya Korlakai Vinayak</span>
          </a>
          as my advisors. My research interests are broadly in foundations of machine learning, statistics and applications. Before coming to Madison I was at <a href="https://research.ibm.com/labs/india/" target="_blank"><span class="highlight">IBM Research, Bangalore</span></a> for 3 years, where I worked on knowledge graphs, reasoning and information retrieval. 
          I spent two wonderful years at the 
          <a href="https://iisc.ac.in/" target="_blank"><span class="highlight">IISc, Bangalore</span>
          </a> to obtain a masters in CS, where I was fortunate to work with   <a href="https://www.csa.iisc.ac.in/~chiru/"> Prof. Chiranjib Bhattacharyya</a> on temporal point processes and group inducing regularizers. I was a software engineer at <a href ="https://www.ittiam.com/" target="_blank"><span class="highlight">Ittiam Systems, Bangalore </span></a> for a couple of years where we built a media transcoding service. 
          Before that I grew up playing cricket in a village in <a href="https://en.wikipedia.org/wiki/Bundelkhand">Bundelkhand</a>, India and graduated from <a href="https://www.sgsits.ac.in/">SGSITS, Indore</a> with B.E. in computer science.  For more details you can checkout my <a href ="assets/pdf/CV.pdf">CV</a>.
           
        </p>
      
    </div>
  </div>

  <div class="pt-3">
    <h5 class="text-capitalize">Research Interests</h5>
    <div class="pt-2">
        
        <i>"Trying to make sense of the world a bit at a time."</i> <br> <br> 
        <ul>
        <li style="margin-bottom: 10px">
        I am interested in machine learning and statistics, with a focus on understanding fundamental principles and developing theoretically grounded solutions (a.k.a "practical theory").
        My current interests revolve around, learning with less labeled data [<a href="https://openreview.net/pdf?id=RUCFAKNDb2">auto-labeling</a>, <a href="https://openreview.net/forum?id=Cntmos_Ndf0">weak supervision</a>], 
        uncertainty quantification and calibration, and statistical inference/safe anytime valid inference (SAVI) [<a href="/assets/pdf/ood-fpr-draft.pdf">adaptive OOD detection</a>].
        </li>

        <li style="margin-bottom: 10px">
          I gravitate towards efficient organization and retrieval of information and love building efficient+elegant systems in general. 
        I have delved into reasoning and knowledge graph embeddings [<a href="https://proceedings.neurips.cc/paper/2019/file/cb12d7f933e7d102c52231bf62b8a678-Paper.pdf">quantum embeddings</a>], and <a href="https://dl.acm.org/doi/abs/10.1145/3209542.3209548">information retrieval</a>. 
        I am exploring <a href="/posts/2023/06/lifting-ws/">Foundation models/LLMs</a> as they provide a more unified and promising solution to these problems. 
        </li>

        <li style="margin-bottom: 10px">
          I am also enthusiastic about optimzation and game theory [<a href="https://openreview.net/pdf?id=4iV26fZPUD">parameter markets</a>, <a href="https://proceedings.neurips.cc/paper/2020/file/b8ffa41d4e492f0fad2f13e29e1762eb-Paper.pdf">federated learning</a>].
        </li>

        </ul>
    </div>
  </div>
  
  
   
  <div class="pt-3">
    <h5 class="text-capitalize"> News</h5>
    <hr>
    
    <ul>
      <li>[01/24] Paper with Lin and Ramya on OOD Detection with FPR control got accepted in AISTATS 2024! </li>
      <li>[11/23] Presented our work on auto-labeling in <a href ="https://mlopt.ece.wisc.edu/idea-seminar/">MLOPT Idea Seminar</a>. &nbsp; <a href="assets/pdf/TBAL-long-talk-v1.0.pdf"> [Slides].</a></li>
      <li>[10/23] Presented our work on Taming False Positives in Out of Distribution Detection at <a href="https://ifds.info/">IFDS Seminar.</a> </li>
    
      <li>[09/23] Two papers accepted in NeurIPS!
      <ul>
      <li> Checkout our work on fundamentals of <a href="https://neurips.cc/virtual/2023/poster/71657"> auto-labeling</a> got accepted as a spotlight .
      </li>
      <li> Checkout our work on foundations of <a href="https://nips.cc/virtual/2023/poster/72839"> parameter markets.</a>
      </li>
      </ul>

    </li>

    <li>[07/23] Presented our work on auto-labeling and OOD detection in DMLR and AI-HCI workshops @ ICML'23.</li>

    <li>[06/23]  New <a href="/posts/2023/06/lifting-ws/">blog post</a> on aggregating LLM or foundation model objects using weak supervision.
    </li>
    
  </ul>

   </div>

  <div> </br> Checkout my work with amazing collaborators. I'd love to know any feedback you might have on any of these works. Always open to chat and collaborate! so feel free to reach out :) </div>

  <div class="pt-3">
    
    <!--<h5 class="text-capitalize"> Pre-prints or Under-review </h5>
    <hr>-->

    <div class="pt-2">
      {% for publication in site.data.preprint %}
        {% if publication.award %}
          {% capture award %} (<b>{{publication.award}}</b>){% endcapture %}
        {% else %}
          {% capture award %}{% endcapture %}
        {% endif %}
        <div class="pb-3">
          <div class="  action">
            <!--<a href="{{publication.url}}" style="font-size: 14px;"><h6 class="text-capitalize highlight">{{ publication.title }}</h6></a>-->
            <a href="{{publication.url}}" style="font-size: 17px; "><span class="highlight">{{ publication.title }}</span></a>
          </br>
                <span>{{ publication.authors }}</span> </br>
              
               <i>{{ publication.venue }}, {{ publication.date | date: "%Y" }}</i> <span style="color:rgb(18, 17, 17)">{{ award }}</span> 
              
              <div class="d-flex">
                {% if publication.venue_short %}
                <!--<div>
                  <button style="background-color: white; font-size:11px; border-radius: 5px; border-width: 1px; border-color: rgb(82, 194, 216);" disabled="true" >{{publication.venue_short}}</button>
                </div>!-->

                &nbsp;
               {%endif%}

                {% for link in publication.links %}
                <div>
                  <a href="{{ link.url }}"  target="_blank">
                    <span class="highlight">{{ link.label }}</span>
                  </a>
                      {% if forloop.last == false %}
                      | &nbsp;
                      {% endif %}
                </div>
                {% endfor %}
              </div>
          </div>
          <p style="margin:8px;"></p>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="pt-3">
    <h5 class="text-capitalize"> Conference Publications </h5>
    <hr>
    <div class="pt-2">
      {% for publication in site.data.conf_pubs %}
        {% if publication.award %}
          {% capture award %} (<b>{{publication.award}}</b>){% endcapture %}
        {% else %}
          {% capture award %}{% endcapture %}
        {% endif %}
        <div class="pb-3">
          <div class="  action">
            <!--<a href="{{publication.url}}" style="font-size: 14px;"><h6 class="text-capitalize highlight">{{ publication.title }}</h6></a>-->
            <a href="{{publication.url}}" style="font-size: 17px; "><span class="highlight">{{ publication.title }}</span></a>
          </br>
                <span>{{ publication.authors }}</span> </br>
              
               <i>{{ publication.venue }}, {{ publication.date | date: "%Y" }}</i> <span style="color:rgb(200, 28, 28)">{{ award }}</span> 
              
              
               {% if publication.links %}
              <div class="d-flex">
                {% if publication.venue_short %}
                <!--<div>
                  <button style="background-color: white; font-size:11px; border-radius: 5px; border-width: 1px; border-color: rgb(82, 194, 216);" disabled="true" >{{publication.venue_short}}</button>
                </div>!-->

                
               {%endif%}
               
                {% for link in publication.links %}
                  <div>
                    <a href="{{ link.url }}"  target="_blank">
                      <span class="highlight">{{ link.label }}</span>
                    </a>
                        {% if forloop.last == false %}
                        | &nbsp;
                        {% endif %}
                  </div>
                {% endfor %}
                
              </div>
              {%endif%}
          </div>
          <p style="margin:5px;"></p>
        </div>
      {% endfor %}
    </div>
  </div>
  
  <div class="pt-3">
    <h5 class="text-capitalize"> Workshop Publications </h5>
    <hr>
    <div class="pt-2">
      {% for publication in site.data.ws_pubs %}
        {% if publication.award %}
          {% capture award %} (<b>{{publication.award}}</b>){% endcapture %}
        {% else %}
          {% capture award %}{% endcapture %}
        {% endif %}
        <div class="pb-3">
          <div class="  action">
            <!--<a href="{{publication.url}}" style="font-size: 14px;"><h6 class="text-capitalize highlight">{{ publication.title }}</h6></a>-->
            <a href="{{publication.url}}" style="font-size: 17px; "><span class="highlight">{{ publication.title }}</span></a>
          </br>
                <span>{{ publication.authors }}</span> </br>
              
               <i>{{ publication.venue }}, {{ publication.date | date: "%Y" }}</i> <span style="color:rgb(18, 17, 17)">{{ award }}</span> 
              
              <div class="d-flex">
                {% if publication.venue_short %}
                <!--<div>
                  <button style="background-color: white; font-size:11px; border-radius: 5px; border-width: 1px; border-color: rgb(82, 194, 216);" disabled="true" >{{publication.venue_short}}</button>
                </div>!-->

                
               {%endif%}

                {% for link in publication.links %}
                <div>
                  <a href="{{ link.url }}"  target="_blank">
                    <span class="highlight">{{ link.label }}</span>
                  </a>
                      {% if forloop.last == false %}
                      | &nbsp;
                      {% endif %}
                </div>
                {% endfor %}
              </div>
          </div>
          <p style="margin:10px;"></p>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="pt-3">
    <h5 class="text-capitalize">Service</h5>
    <hr>
    <div class="pt-2">
      
        <p>
           Served as a reviewer for, 
           <ul>
  <li> Neural Information Processing Systems (NeurIPS) </br>
    2021, 2022, 2023.</br>
    <b>Top Reviewer (~ top 8%)</b> for NeurIPS 2022.
  </li>
  <p style="margin:10px;"></p>
  <li>International Conference on Machine Learning (ICML) </br>
     2022, 2023, 2024.
    </li>
    <p style="margin:10px;"></p>
  <li>International Conference on Learning Representations (ICLR) </br>
    2021, 2022, 2023, 2024.
  </li>
  <p style="margin:10px;"></p>
  <li> International Conference on Artificial Intelligence and Statistics (AISTATS)
     </br>  2024.
  </li>
  <p style="margin:10px;"></p>
  <li>   Transactions on Machine Learning Research Journal (TMLR) 
    Since 2022.
  </br>
  <p style="margin:10px;"></p>
  </li>
</ul>     
    </div>
  </div>

  <div class="pt-3">
    <h5 class="text-capitalize">Teaching</h5>
    <hr>
    <div class="pt-2">
      
      <ul>
  <li> I was TA for, 
     <ul>1. CS 761, advanced course on Mathematical Foundations of ML, Instructor  <a href="https://nowak.ece.wisc.edu/"> Prof. Rob Nowak</a>, [Spring, 22].
I helped with homeworks, exams, held office hours and gave a lecture on uniform convergence results for finite hypothesis class.</ul>
     <ul>2. CS 760, grad level intro to ML course, Instructor  <a href="">Prof. Fred Sala</a>, [Fall, 21  ]. I helped with homeworks, exams and held office hours.</ul>
    
     <li> In general, I enjoy teaching and mentoring. I have taught students at various levels in my village during my high school, 
     partly to support my education and with the hope to inspire the otherwise disinterested kids. 
     It has also been a yardstick to measure my own understanding. ( Feynman's quote "If you want to master something, teach it.").
     My biggest success has been teaching and mentoring my younger brother from the elementary school till the college, who is now a much better software engineer than me.
     </li>
       
  </li>


  <p style="margin:10px;"></p>
    </div>
  </div>

  <div class="pt-3">
    <h5 class="text-capitalize">Miscellaneous</h5>
    <hr>
    <div class="pt-2">
      
      <ul>
  <li> I enjoy sports/athletic activities, particularly enjoy playing cricket, badminton, racquetball and biking, running. 
  </li>
  <li> I like reading Indian philosophy and Hindi poetry (e.g. Kabir), it gives me the point of views/tools to see through my mind and the world and has been a source of peace and strength in tough times :). 
  </li>

  <p style="margin:10px;"></p>
    </div>
  </div>
  
</div>
